<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <description>Determines whether a user is authorised to see the page they are trying to access.</description>
        <filter-name>Authorisation Filter</filter-name>
        <filter-class>web.AuthorisationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authorisation Filter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/registerConfirm.jsp</url-pattern>
        <url-pattern>/students/*</url-pattern>
        <url-pattern>/teachers/*</url-pattern>
        <url-pattern>/admins/*</url-pattern>
        <url-pattern>/maintenance/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRPLClaimServlet</servlet-name>
        <servlet-class>web.UpdateRPLClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePrevClaimServlet</servlet-name>
        <servlet-class>web.UpdatePrevClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvidenceServlet</servlet-name>
        <servlet-class>web.AddEvidenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClaimServlet</servlet-name>
        <servlet-class>web.CreateClaimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainTableServlet</servlet-name>
        <servlet-class>web.MaintainTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCampusServlet</servlet-name>
        <servlet-class>web.MaintainCampusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainDisciplineServlet</servlet-name>
        <servlet-class>web.MaintainDisciplineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCourseServlet</servlet-name>
        <servlet-class>web.MaintainCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCourseModulesServlet</servlet-name>
        <servlet-class>web.MaintainCourseModulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClaimsServlet</servlet-name>
        <servlet-class>web.ListClaimsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainModuleServlet</servlet-name>
        <servlet-class>web.MaintainModuleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCampusDisciplineServlet</servlet-name>
        <servlet-class>web.MaintainCampusDisciplineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCoreModulesServlet</servlet-name>
        <servlet-class>web.MaintainCoreModulesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainDisciplineCoursesServlet</servlet-name>
        <servlet-class>web.MaintainDisciplineCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainCourseElectivesServlet</servlet-name>
        <servlet-class>web.MaintainCourseElectivesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainModuleElementsServlet</servlet-name>
        <servlet-class>web.MaintainModuleElementsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaintainElementCriteria</servlet-name>
        <servlet-class>web.MaintainElementCriteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTeacherClaimsServlet</servlet-name>
        <servlet-class>web.ViewTeacherClaimsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessClaimRPLServlet</servlet-name>
        <servlet-class>web.AssessClaimRPLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvidenceServlet</servlet-name>
        <servlet-class>web.ViewEvidenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddTeacherServlet</servlet-name>
        <servlet-class>web.AdminAddTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListAccountsServlet</servlet-name>
        <servlet-class>web.AdminListAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminModifyAccount</servlet-name>
        <servlet-class>web.AdminModifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListUnassignedClaims</servlet-name>
        <servlet-class>web.AdminListUnassignedClaims</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClaimRecordServlet</servlet-name>
        <servlet-class>web.ListClaimRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorsServlet</servlet-name>
        <servlet-class>web.ErrorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>web.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRPLClaimServlet</servlet-name>
        <url-pattern>/students/updateRPLClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePrevClaimServlet</servlet-name>
        <url-pattern>/students/updatePrevClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvidenceServlet</servlet-name>
        <url-pattern>/students/addEvidence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClaimServlet</servlet-name>
        <url-pattern>/students/createClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainTableServlet</servlet-name>
        <url-pattern>/maintenance/maintainTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCampusServlet</servlet-name>
        <url-pattern>/maintenance/maintainCampus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainDisciplineServlet</servlet-name>
        <url-pattern>/maintenance/maintainDiscipline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCourseServlet</servlet-name>
        <url-pattern>/maintenance/maintainCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCourseModulesServlet</servlet-name>
        <url-pattern>/maintenance/maintainCourseModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainModuleServlet</servlet-name>
        <url-pattern>/maintenance/maintainModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCampusDisciplineServlet</servlet-name>
        <url-pattern>/maintenance/campusDiscipline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCoreModulesServlet</servlet-name>
        <url-pattern>/maintenance/coreModules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainDisciplineCoursesServlet</servlet-name>
        <url-pattern>/maintenance/disciplineCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainCourseElectivesServlet</servlet-name>
        <url-pattern>/maintenance/courseElectives</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClaimsServlet</servlet-name>
        <url-pattern>/teachers/listClaims</url-pattern>
        <url-pattern>/students/listClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainModuleElementsServlet</servlet-name>
        <url-pattern>/maintenance/moduleElements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaintainElementCriteria</servlet-name>
        <url-pattern>/maintenance/elementCriteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTeacherClaimsServlet</servlet-name>
        <url-pattern>/teachers/ViewTeacherClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessClaimRPLServlet</servlet-name>
        <url-pattern>/teachers/AssessRPLClaim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvidenceServlet</servlet-name>
        <url-pattern>/teachers/ViewEvidence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddTeacherServlet</servlet-name>
        <url-pattern>/admins/addTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListAccountsServlet</servlet-name>
        <url-pattern>/admins/listAccounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminModifyAccount</servlet-name>
        <url-pattern>/admins/modifyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListUnassignedClaims</servlet-name>
        <url-pattern>/admins/listUnassignedClaims</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClaimRecordServlet</servlet-name>
        <url-pattern>/teachers/listClaimRecords</url-pattern>
        <url-pattern>/students/listClaimRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorsServlet</servlet-name>
        <url-pattern>/admin/listErrors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:postgresql://localhost:5432/RPL_DB</description>
        <res-ref-name>RPLDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <!--<resource-ref>
        <description>Vote description</description>
        <res-ref-name>mail/NomDeLaResource</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
</web-app>
