/* 
    Document   : panel
    Created on : Aug 4, 2013, 11:18:28 PM
    Author     : Brad
    Description:
        Purpose of the stylesheet follows.
*/
#panel
{
    padding:5px;
    text-align:left;
    /*background-color:#e5eecc;*/
    border:solid 1px #c3c3c3;
    width:960px;
    margin-left: auto;
    margin-right: auto;
}
.heading
{
    padding:5px;
    text-align:left;
    border:#000 solid 1px;
    background: rgb(169,228,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

    color: #1e5799;

    width:960px;
    margin-left: auto;
    margin-right: auto;
}
#panel
{
    padding:5px;
    display:none;
}

#panel p, #panel h2, #panel h4, #panel ul, #panel h5 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
