/* 
    Document   : styles
    Created on : 11/05/2011, 6:46:53 PM
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
root { 
    /*display: block;*/
}

.footer {
    background-color: #FFF;
    color: #444;
}

.table thead tr th {
    text-align: left;
}

div.body {
    
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: XX-large;
    background-color: orange;
}
